name: GitHub AWS OIDC

on:
  push:
    branches: [ "oidc-test" ]

permissions:
  id-token: write
  contents: read

jobs:
  run_job_with_aws:
    runs-on: [ubuntu-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Configure AWS Credentials using OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ap-south-1
          role-to-assume:  ${{ secrets.AWS_IAM_ROLE }}
